build:
  type: text
  content: >-
    #!/bin/sh


    # make all

    # docker build

    docker build -f voter/Dockerfile -t voter:$ROOST_ENV_ID voter

    docker build -f voter/Dockerfile -t voter:$ROOST_ENV_ID voter

    docker build -f service-test-suite/Dockerfile -t service-test-suite:$ROOST_ENV_ID service-test-suite
deploy:
  type: text
  content: >
    #/bin/sh

    <<'###'

    Sample Deploy Instructions


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###



    kubectl apply -n $ROOST_NAMESPACE -f voter/ingress.yaml


    HELM_OPTS=""

    helm upgrade newtest-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
Last Updated By: Divyesh Maheshwari
Last Updated On: 2022-07-15T11:57:47.343Z
