build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    export IMAGE_TAG=$ROOST_NAMESPACE
    cd ./ && make build-voter
deploy:
  type: text
  content: >
    #/bin/sh

    <<'###'

    Sample Deploy Instructions


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###




    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm upgrade div-test-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
Last Updated By: Divyesh Maheshwari
Last Updated On: 2022-07-14T11:26:40.902Z
Deleted: "True"
branchOverrides:
  Divyeshzb-patch-24:
    skip: true
