build:
  type: text
  content: |+
    #!/bin/sh

    # make all
    # docker build

deploy:
  type: netlify
  content:
    site_env:
      - key: REACT_APP_BALLOT_ENDPOINT
        value: https://zbio.roost.io/proxy/OjMwMDQy
        proxyPort: false
      - key: REACT_APP_EC_SERVER_ENDPOINT
        value: https://zbio.roost.io/proxy/OjMwMDQw
        proxyPort: false
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Aishwarya Rane
lastUpdatedOn: 2023-03-06T11:08:03.199Z
