build:
  type: External_Build
  content: $GIT_COMMIT_ID
deploy:
  type: None
  content: ''
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/test-suite.yaml
uninstall:
  type: None
  content: ''
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-12T18:39:53.095Z
